# Ollama Configuration
# LLM_BASE_URL=http://localhost:11434

# LM Studio Configuration
LLM_BASE_URL=http://10.0.0.100:1234

# Gateway Configuration
GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=8008

# Debug Token Tracking
DEBUG_TOKEN_TRACKING=True

# Database Configuration
DATABASE_PATH=llm_gateway.db

# Dashboard Configuration
DASHBOARD_PORT=8501
TZ=America/Los_Angeles
